In [305]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

In [306]:
nifty=yf.download('^NSEI',start='2023-04-01',end='2024-03-31')
dow=yf.download('^DJI',start='2023-04-01',end='2024-03-31')
ftse=yf.download('^FTSE',start='2023-04-01',end='2024-03-31')
dax=yf.download('^GDAXI',start='2023-04-01',end='2024-03-31')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [307]:
nifty.to_csv('nifty.csv')
dow.to_csv('dow.csv')
ftse.to_csv('ftse.csv')
dax.to_csv('dax.csv')
nifty=pd.read_csv('nifty.csv')
dow=pd.read_csv('dow.csv')
ftse=pd.read_csv('ftse.csv')
dax=pd.read_csv('dax.csv')

In [308]:
nifty['Daily_Returns']=(nifty['Close']-nifty['Open'])/nifty['Open']*100
dow['Daily_Returns']=(dow['Close']-dow['Open'])/dow['Open']*100
ftse['Daily_Returns']=(ftse['Close']-ftse['Open'])/ftse['Open']*100
dax['Daily_Returns']=(dax['Close']-dax['Open'])/dax['Open']*100

In [309]:
nifty['Weekday'] = pd.to_datetime(nifty['Date']).dt.weekday
dow['Weekday'] = pd.to_datetime(dow['Date']).dt.weekday
ftse['Weekday'] = pd.to_datetime(ftse['Date']).dt.weekday
dax['Weekday'] = pd.to_datetime(dax['Date']).dt.weekday

In [310]:
nifty['Monday'] = np.where(nifty['Weekday'] == 0, 1, 0)
nifty['Friday'] = np.where(nifty['Weekday'] == 4, 1, 0)
dow['Monday'] = np.where(dow['Weekday'] == 0, 1, 0)
dow['Friday'] = np.where(dow['Weekday'] == 4, 1, 0)
ftse['Monday'] = np.where(ftse['Weekday'] == 0, 1, 0)
ftse['Friday'] = np.where(ftse['Weekday'] == 4, 1, 0)
dax['Monday'] = np.where(dax['Weekday'] == 0, 1, 0)
dax['Friday'] = np.where(dax['Weekday'] == 4, 1, 0)

In [311]:
nifty

,Date,Open,High,Low,Close,Adj Close,Volume,Daily_Returns,Weekday,Monday,Friday
0,2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200,-0.171555,0,1,0
1,2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300,0.773434,2,0,0
2,2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700,0.372427,3,0,0
3,2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800,-0.061524,0,1,0
4,2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300,0.098843,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
238,2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200,0.100268,3,0,0
239,2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700,0.750270,4,0,1
240,2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400,0.258789,1,0,0
241,2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100,0.316048,2,0,0
242,2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500,0.736797,3,0,0

In [312]:
monday_nifty = 0
friday_nifty= 0
other__nifty = 0
mon_nifty=0
fri_nifty=0
other_nifty=0
for i in range(len(nifty)):
    if(nifty['Monday'].iloc[i]==1):
        monday_nifty+=nifty['Daily_Returns'].iloc[i]
        mon_nifty+=1
    elif(nifty['Friday'].iloc[i]==1):
        friday_nifty+=nifty['Daily_Returns'].iloc[i]
        fri_nifty+=1
    else:
        other__nifty+=nifty['Daily_Returns'].iloc[i]
        other_nifty+=1

In [313]:
monday_return_nifty=monday_nifty/mon_nifty
friday_return_nifty=friday_nifty/fri_nifty
other_return_nifty=other__nifty/other_nifty

In [314]:
other_return_nifty

-0.07035096568532934

In [315]:
monday_dow = 0
friday_dow= 0
other__dow = 0
mon_dow=0
fri_dow=0
other_dow=0
for i in range(len(dow)):
    if(dow['Monday'].iloc[i]==1):
        monday_dow+=dow['Daily_Returns'].iloc[i]
        mon_dow+=1
    elif(dow['Friday'].iloc[i]==1):
        friday_dow+=dow['Daily_Returns'].iloc[i]
        fri_dow+=1
    else:
        other__dow+=dow['Daily_Returns'].iloc[i]
        other_dow+=1

In [316]:
monday_return_dow=monday_dow/mon_dow
friday_return_dow=friday_dow/fri_dow
other_return_dow=other__dow/other_dow

In [317]:
monday_ftse = 0
friday_ftse= 0
other__ftse = 0
mon_ftse=0
fri_ftse=0
other_ftse=0
for i in range(len(ftse)):
    if(ftse['Monday'].iloc[i]==1):
        monday_ftse+=ftse['Daily_Returns'].iloc[i]
        mon_ftse+=1
    elif(ftse['Friday'].iloc[i]==1):
        friday_ftse+=ftse['Daily_Returns'].iloc[i]
        fri_ftse+=1
    else:
        other__ftse+=ftse['Daily_Returns'].iloc[i]
        other_ftse+=1

In [318]:
monday_return_ftse=monday_ftse/mon_ftse
friday_return_ftse=friday_ftse/fri_ftse
other_return_ftse=other__ftse/other_ftse

In [319]:
monday_dax = 0
friday_dax= 0
other__dax = 0
mon_dax=0
fri_dax=0
other_dax=0
for i in range(len(dax)):
    if(dax['Monday'].iloc[i]==1):
        monday_dax+=dax['Daily_Returns'].iloc[i]
        mon_dax+=1
    elif(dax['Friday'].iloc[i]==1):
        friday_dax+=dax['Daily_Returns'].iloc[i]
        fri_dax+=1
    else:
        other__dax+=dax['Daily_Returns'].iloc[i]
        other_dax+=1

In [320]:
monday_return_dax=monday_dax/mon_dax
friday_return_dax=friday_dax/fri_dax
other_return_dax=other__dax/other_dax

In [321]:
df={'nifty':[0, 0, 0],'dow':[0, 0, 0],'ftse':[0,0,0],'dax':[0, 0, 0]}
index = ['Monday_Return', 'Friday_Return', 'Other_day_Return']
df=pd.DataFrame(df,index=index)

In [322]:
df

                  nifty  dow  ftse  dax
Monday_Return         0    0     0    0
Friday_Return         0    0     0    0
Other_day_Return      0    0     0    0

In [323]:
df.loc['Monday_Return', 'nifty'] = monday_return_nifty
df.loc['Monday_Return', 'dow'] = monday_return_dow
df.loc['Monday_Return','ftse']=monday_return_ftse
df.loc['Monday_Return', 'dax'] = monday_return_dax

C:\Users\atitk\AppData\Local\Temp\ipykernel_35856\2616448451.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.0011978976124934892' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['Monday_Return', 'nifty'] = monday_return_nifty
C:\Users\atitk\AppData\Local\Temp\ipykernel_35856\2616448451.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.2171006246949042' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['Monday_Return', 'dow'] = monday_return_dow
C:\Users\atitk\AppData\Local\Temp\ipykernel_35856\2616448451.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.05526199857413109' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['Monday_Return','ftse']=monday_return_ftse
C:\Users\atitk\AppData\Local\Temp\ipykernel_35856\2616448451.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '-0.0827272079705068' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc['Monday_Return', 'dax'] = monday_return_dax

In [324]:
df.loc['Friday_Return', 'nifty'] = friday_return_nifty
df.loc['Friday_Return', 'dow'] = friday_return_dow
df.loc['Friday_Return','ftse']=friday_return_ftse
df.loc['Friday_Return', 'dax'] = friday_return_dax

In [325]:
df

                     nifty       dow      ftse       dax
Monday_Return    -0.001198  0.217101 -0.055262 -0.082727
Friday_Return     0.166746  0.075993  0.134184  0.102242
Other_day_Return  0.000000  0.000000  0.000000  0.000000

In [326]:
df.loc['Other_day_Return', 'nifty'] = other_return_nifty
df.loc['Other_day_Return', 'dow'] = other_return_dow
df.loc['Other_day_Return','ftse']=other_return_ftse
df.loc['Other_day_Return', 'dax'] = other_return_dax

In [327]:
df

                     nifty       dow      ftse       dax
Monday_Return    -0.001198  0.217101 -0.055262 -0.082727
Friday_Return     0.166746  0.075993  0.134184  0.102242
Other_day_Return -0.070351  0.003926  0.002687  0.064060

#
Conclusion

We can clearly see that weekend effect is visible in nifty,ftse and dax while there is a reverse weekend effect observed in dow