In [218]:
import yfinance as yf
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.tsa.stattools import adfuller, kpss, grangercausalitytests
from statsmodels.stats.diagnostic import acorr_ljungbox
from statsmodels.stats.stattools import durbin_watson
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [219]:
stocks=['AAPL','MSFT']
data=yf.download(stocks,start='2020-01-01',end='2023-01-01')['Close']

[*********************100%%**********************]  2 of 2 completed

In [220]:
data

Ticker            AAPL        MSFT
Date
2020-01-02   75.087502  160.619995
2020-01-03   74.357498  158.619995
2020-01-06   74.949997  159.029999
2020-01-07   74.597504  157.580002
2020-01-08   75.797501  160.089996
...                ...         ...
2022-12-23  131.860001  238.729996
2022-12-27  130.029999  236.960007
2022-12-28  126.040001  234.529999
2022-12-29  129.610001  241.009995
2022-12-30  129.929993  239.820007

[756 rows x 2 columns]

ADF Test

In [221]:
ADF_AAPL=adfuller(data['AAPL'])
ADF_MSFT=adfuller(data['MSFT'])

In [222]:
ADF={
    'ADF Statistic':[ADF_AAPL[0],ADF_MSFT[0]],
    'p-value':[ADF_AAPL[1],ADF_MSFT[1]],
    'Critical Values':[ADF_AAPL[4]['5%'],ADF_MSFT[4]['5%']]
}
ADF=pd.DataFrame(ADF)
ADF.index=stocks

In [223]:
ADF

      ADF Statistic   p-value  Critical Values
AAPL      -1.895379  0.334238        -2.865381
MSFT      -1.861160  0.350547        -2.865422

KPSS Test

In [224]:
KPSS_AAPL=kpss(data['AAPL'])
KPSS_MSFT=kpss(data['MSFT'])

In [225]:
KPSS={
    'ADF Statistic':[KPSS_AAPL[0],KPSS_MSFT[0]],
    'p-value':[KPSS_AAPL[1],KPSS_MSFT[1]],
    'Critical Values':[KPSS_AAPL[3]['5%'],KPSS_MSFT[3]['5%']]
}
KPSS=pd.DataFrame(KPSS)
KPSS.index=stocks

In [226]:
KPSS

      ADF Statistic  p-value  Critical Values
AAPL       3.316423     0.01            0.463
MSFT       2.697181     0.01            0.463

In [255]:
lb_test_results=acorr_ljungbox(data['AAPL'])
lb_test_results1=acorr_ljungbox(data['MSFT'])

Durbin Watson

In [229]:
def durbin_watson_test(data):
    dw_stat = durbin_watson(data)
    return dw_stat

In [230]:
dw_stat = durbin_watson_test(data['AAPL'])
dw_stats=durbin_watson_test(data['MSFT'])

In [231]:
print(dw_stat)
print(dw_stats)

0.00043471474964620974
0.0003776907623308761

Granger Causality test

In [256]:
grangercausalitytests(data[['AAPL','MSFT']], maxlag=[1])

Granger Causality
number of lags (no zero) 1
ssr based F test:         F=4.8846  , p=0.0274  , df_denom=752, df_num=1
ssr based chi2 test:   chi2=4.9041  , p=0.0268  , df=1
likelihood ratio test: chi2=4.8882  , p=0.0270  , df=1
parameter F test:         F=4.8846  , p=0.0274  , df_denom=752, df_num=1

{1: ({'ssr_ftest': (4.884601188840741, 0.027397727136549276, 752.0, 1),
   'ssr_chi2test': (4.90408762975367, 0.02679320221484337, 1),
   'lrtest': (4.888229063076324, 0.02704040920082, 1),
   'params_ftest': (4.884601188839076, 0.027397727136575116, 752.0, 1.0)},
  [<statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1f6ce0ce350>,
   <statsmodels.regression.linear_model.RegressionResultsWrapper at 0x1f6ce24fe90>,
   array([[0., 1., 0.]])])}

Ljungbox test

In [257]:
sm.stats.acorr_ljungbox(data['AAPL'],lags=[1],return_df=True)

      lb_stat      lb_pvalue
1  749.418057  5.369538e-165

In [258]:
sm.stats.acorr_ljungbox(data['MSFT'],lags=[1],return_df=True)

      lb_stat      lb_pvalue
1  747.852277  1.175966e-164